body{
	/* Setting default text color, background and a font stack */
	color:#555555;
	font-size: 28px;
	background: #fcfcfc;
}

.message {
	width:400px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -135px;
	font-family: 'Raleway', sans-serif;
}